body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #e74c3c, #f4f4f4);
    font-family: 'Open Sans', sans-serif;
}

.error-container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #333;
}

h1 {
    color: #e74c3c;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#maintenance-info {
    font-size: 16px;
    margin-top: 10px;
}

/* Styles for Privacy Policy */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #e74c3c;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #2980b9;
}
